/*Normalize*/

*{
    padding: 0px;
    margin: 0px;
}
#fila--cartas1{
    display: none;
}
#fila--cartas2{
    display: none;
}

.mostrar{
    color: white;
    font-size: 70px;
    text-align: center;
}
.oculto{
    display:none;
}

div{
    background-color: black;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.correcto{
    background-color: gray;
    color: gray;
    font-size: 70px;
    text-align: center;
}