#fila--cartas1{
    display: none;
}
#fila--cartas2{
    display: none;
}


.div--fondo{
    background-color: black;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
}


.blink_me {
    animation: blinker 2s;    
  }

@keyframes blinker {
    50% {
      opacity: 0;
    }
}