
.normal{
    background: antiquewhite;
    margin: 5px;
} 
.fighting{
    background: brown;
    margin: 5px;
} 
.flying{
    background: bisque;
    margin: 5px;
} 
.poison{
    background: violet;
    margin: 5px;
} 
.ground{
    background: saddlebrown;
    margin: 5px;
} 
.rock{
    background: coral;
    margin: 5px;
} 
.bug{
    background: greenyellow;
    margin: 5px;
} 
.ghost{
    background: blueviolet;
    margin: 5px;
} 
.steel{
    background: gray;
    margin: 5px;
} 
.fire{
    background: red;
    margin: 5px;
} 
.water{
    background: blue;
    margin: 5px;
} 
.grass{
    background: green;
    margin: 5px;
} 
.electric{
    background: yellow;
    margin: 5px;
} 
.psychic{
    background: rebeccapurple;
    margin: 5px;
} 
.ice{
    background: cornflowerblue;
    margin: 5px;
} 
.dragon{
    background: cornflowerblue;
    margin: 5px;
} 
.dark{
    background: black;
    margin: 5px;
} 
.fairy{
    background: floralwhite;
    margin: 5px;
} 
.unknown{
    background: fuchsia;
    margin: 5px;
} 
.shadow{
    background: plum;
    margin: 5px;
}